<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="container">


        <h1>ola</h1>

        <a href="/login">post</a>


        <table id="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>text</th>
                    <th>autor</th>
                </tr>
            </thead>
            <tbody>
                **##sql_data_rows##**
            </tbody>
        </table>

        <!--POSTS-->
        


    </div>
</body>
</html>