<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <br>
            <h1>Login</h1>
            <br>

            <form action="/posts" method="get">
                <div>
                    <label for="nome">Nome:</label><br>
                    <input type="text" name="nome" id="password">
                </div>   
                    <br><br>
                <div>
                    <label for="senha">Senha</label><br>
                    <input type="password" name="password" id="password">
                </div>
                <br><br>
                <button type="submit">Logar</button>
            </form>
        </div>

        <br><br>

        <!--<a href="/posts">post</a>-->


    </div>
</body>
</html>